@import "../../sass/responsive.scss";
@import "../../sass/variable.scss";
.videoCard {
  padding: 0 !important;
  border-radius: 5px !important;
  flex-grow: 1 !important;
  @include md() {
    width: 13rem !important;
  }
  &__title {
    font-size: 0.8rem !important;
    padding: 0.5rem 0;
    font-family: "popines";
  }
  &__img {
    width: 100%;
    height: fit-content;
    border-radius: 5px 5px 0 0 !important;
    object-fit: contain;
    transition: 0.3s ease;
    &:hover {
      scale: 1.1;
    }
  }
  &__views {
    display: inline-flex;
    gap: 0.4rem;
    font-size: 0.8rem;
    overflow: hidden;
    font-family: sans-serif;
  }
  &__length {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 0 4px;
    border-radius: 7px;
    font-size: 0.8rem;
  }
  &__channel {
    font-family: "sans-serif";
    font-weight: 400 !important;
  }
}
