@import "../../sass/variable.scss";
@import "../../sass/responsive.scss";

.header {
  &__con {
    background-color: $sidebar-bg;
    padding: 1rem 0 !important;
    position: sticky;
    top: 0;
    z-index: 9;
  }
}
.inputBox {
  background-color: $light;
  border: 1px solid $light;
  color: #000;
  border-radius: 25px;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  input {
    @extend .inputBox;
    border: 0;
    padding: 0.3rem;
  }
  &:focus {
    outline: none;
  }
}
.link {
  &__wrapper {
    display: flex;
    flex-direction: row !important;
    white-space: nowrap;
    gap: 1rem !important;
    padding: 1rem 0;
    @include md() {
      display: none;
    }
  }
  &__tab {
    background-color: #3a3a3ab1;
    padding: 10px 15px;
    border-radius: 7px;

    &__active {
      @extend .link__tab;
      background-color: $active;
    }
  }
}
