$dark: #000;
$light: #f8f8f8;
$active: #c00000;
$text: #ffffff;
$sidebar-bg: #000;

@mixin btnBack() {
  background-color: #0000009e;
  border: 2px solid $light;
  outline: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  padding: 10px 15px;
  text-align: center;
  color: $light;
  border-radius: 7px;
}
