.auth-container {
  width: 100%;
  height: 80vh;
  background-color: #000;
}
.auth-wrapper {
  height: 100%;
  display: flex;
  align-items: end;
}
.auth-wrapper form {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.auth-wrapper form input {
  width: 200px;
  height: 2rem;
  border: none;
  outline: 2px solid orange;
  background: transparent;
  border-radius: 5px;
  color: #fff;
}
.auth-wrapper form input::placeholder {
  text-transform: capitalize;
  padding-left: 0.5rem;
  color: orange;
}
.auth-wrapper form button {
  width: 200px;
  height: 2rem;
  border: none;
  outline: 2px solid orange;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}
